<md-sidenav class="md-sidenav-left md-whiteframe-z2 main-sidenav" layout-fill md-component-id="sidenav" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-tall">
        <h1>My Groceries</h1>
        <md-icon aria-label="Shopping Cart" class="s48" flex="50" md-svg-icon="action:shopping_cart"></md-icon>
    </md-toolbar>

    <md-content flex style="padding: 8px 0">
        <md-list>
            <md-list-item md-ink-ripple>
                <div>
                    <md-icon aria-label="Items" md-svg-icon="action:dashboard" ng-click=""></md-icon>
                </div>
                <span>Items</span>
            </md-list-item>
            <md-list-item md-ink-ripple>
                <div>
                    <md-icon aria-label="Shopping List" md-svg-icon="action:receipt" ng-click=""></md-icon>
                </div>
                <span>Shopping List</span>
            </md-list-item>
            <md-list-item layout="row" md-ink-ripple>
                <div>
                    <md-icon aria-label="Shopping History" md-svg-icon="action:history" ng-click=""></md-icon>
                </div>
                <span>Shopping History</span>
            </md-list-item>
            <md-divider style="margin-top: 8px"></md-divider>
            <md-subheader>Management</md-subheader>
            <md-list-item layout="row" md-ink-ripple>
                <div>
                    <md-icon aria-label="Settings" md-svg-icon="action:settings" ng-click=""></md-icon>
                </div>
                <span>Settings</span>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
