<md-sidenav layout-fill class="md-sidenav-left md-whiteframe-z2 main-sidenav" md-component-id="sidenav" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-tall">
    <h1>My Groceries</h1>
    <md-icon flex="50" class="s48" aria-label="Shopping Cart" md-svg-icon="action:shopping_cart"></md-icon>
  </md-toolbar>

  <md-content flex style="padding: 8px 0">
    <md-list>
      <md-list-item md-ink-ripple>
        <div>
          <md-icon ng-click="" aria-label="Items" md-svg-icon="action:dashboard"></md-icon>
        </div>
        <span>Items</span>
      </md-list-item>
      <md-list-item md-ink-ripple>
        <div>
          <md-icon ng-click="" aria-label="Shopping List" md-svg-icon="action:receipt"></md-icon>
        </div>
        <span>Shopping List</span>
      </md-list-item>
      <md-list-item md-ink-ripple layout="row">
        <div>
          <md-icon ng-click="" aria-label="Shopping History" md-svg-icon="action:history"></md-icon>
        </div>
        <span>Shopping History</span>
      </md-list-item>
      <md-divider style="margin-top: 8px"></md-divider>
      <md-subheader>Management</md-subheader>
      <md-list-item md-ink-ripple layout="row">
        <div>
          <md-icon ng-click="" aria-label="Settings" md-svg-icon="action:settings"></md-icon>
        </div>
        <span>Settings</span>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>
