// Sizes
.s18
  width 18px
  height 18px
.s24
  width 24px
  height 24px
.s36
  width 36px
  height 36px
.s48
  width 48px
  height 48px

// Rules for using icons as black on a light background.
.material-icons.md-dark
  color rgba(0, 0, 0, 0.54)
.material-icons.md-dark.md-inactive
  color rgba(0, 0, 0, 0.26)

// Rules for using icons as white on a dark background.
.material-icons.md-light
  color rgba(255, 255, 255, 1)
.material-icons.md-light.md-inactive
  color rgba(255, 255, 255, 0.3)
