@import '../../../styles/colors'

.shopping-list-form
    padding 30px 0px 25px 0px
    md-input-container
        padding 2px 2px 6px

.shopping-list-card-wrapper
    margin-bottom 20px

.shopping-list-item
    cursor pointer
    span
        margin-top 2px

.shopping-list-item:hover
    background light-grey

.shopping-list-item.ng-enter
    -webkit-transition 0.5s linear all
    -moz-transition 0.5s linear all
    -o-transition 0.5s linear all
    transition 0.5s linear all
    max-height 0
    opacity 0
    left -50%

.shopping-list-item.ng-enter.ng-enter-active
    max-height 90px
    opacity 1
    left 0

.shopping-list-item.ng-leave
    -webkit-animation 0.5s list_animation
    -moz-animation 0.5s list_animation
    -o-animation 0.5s list_animation
    animation 0.5s list_animation

list_animation_from()
    max-height 90px
    opacity 1
    right 0

list_animation_to()
    max-height 0
    opacity 0
    right -50%

@keyframes list_animation
    from
        list_animation_from()
    to
        list_animation_to()
@-webkit-keyframes list_animation
    from
        list_animation_from()
    to
        list_animation_to()
@-moz-keyframes list_animation
    from
        list_animation_from()
    to
        list_animation_to()
@-o-keyframes list_animation
    from
        list_animation_from()
    to
        list_animation_to()
