@import '../../styles/colors'

.main-sidenav
  background primary
  h1
    color white
    text-align center
    font-size 26px
    font-weight 400
    padding 10px 0
  span
    padding 15px
    margin-top 2px

.sidenav-content
    padding 8px 0

.sidenav-divider
    margin-top 8px
