@import '../../styles/colors'

.main-sidenav
    background primary
    h1
        color white
        text-align center
        font-size 26px
        font-weight 400
        margin 20px 0 0 0

    .sidenav-content
        padding 8px 0

        a
            text-decoration none
            color rgba(0,0,0,0.87)

        .sidenav-list-item
            cursor pointer
            span
                padding 15px
                margin-top 2px

        .sidenav-list-item:hover
            background light-grey

        .sidenav-divider
            margin-top 8px
